<%= form_for(@quote) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>  
  <div class="field">
  	<%= f.label :content, "Quote" %>
    <%= f.text_area :content, class: "form-control", placeholder: "Content..." %>
  </div>
  <div id="field">
  	<%= f.label :author, "Author" %>
  	
  	<%= f.select(:author_id, options_for_select(Author.all.map{|a|[a.name, a.id]}), {}, { :class => 'form-control' }) %>
  </div>
  <div class="field">
  	<%= f.label :source, "Source" %>
    <%= f.text_field :source, class: "form-control", placeholder: "Where did you find it?" %>
  </div>
  <div class="field">
  	<%= f.label :all_tags, "Tags" %>
    <%= f.text_field :all_tags, class: "form-control", placeholder: "Separate tags with comma..." %>
  </div>
  <div class="field">
  	<%= f.label :comment, "Comment" %>
    <%= f.text_area :comment, class: "form-control", placeholder: "Enter your comment about the quote..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<br />
<br />
<br />

<div class="tags-cloud glassy-bg panel panel-success">
  <div class="panel-heading">
	<h3 class="panel-title center">Tags cloud</h3>
  </div>
  <% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>