<% provide(:title, 'Authors') %>
<h1>Authors</h1>


<div class="row">
	
	<%= form_tag(authors_path, :method => "get", id: "search-form") do %>
	<div class="col-md-6 col-md-offset-3">
		<input type="search" name="search" id="search" value="" class="form-control search-query" placeholder="At least 2 letters to begin the autocomplete..." type="text" data-autocomplete="authors/autocomplete_author_name">
	</div>
	<div>
		<%= submit_tag "Search", class: "btn btn-primary col-md-1", id: "search-submit" %>
	</div>	
	<br />
	<br />
	<br />
	
	<% end %>
	
	
	<div class="row">
		<% if @authors2.present? %>
			<%= will_paginate %>	
			<ul class="authors">
			  <%= render @authors2 %>
			</ul>	
			<%= will_paginate %>
		<% else %>
			<div class="col-md-6 col-md-offset-3">
			  <p>There are no authors containing the term(s) "<%= params[:search] %>".</p>
			</div>
		<% end %>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
  $('#search').bind('railsAutocomplete.select', function(event, data){
  $('#search-form').submit()
  });
</script>