<li id="quote-<%= quote.id %>">
  <%= link_to gravatar_for(quote.user, size: 50), quote.user %>
  <span class="user"><%= link_to quote.user.name, quote.user %></span>
  <div class="content">
	  <blockquote>
	  	<p><%= quote.content %></p>	 	
  		<small><b>Author: </b><%= link_to quote.author, quote.author %></small>
  		<small><b>Source: </b> <cite title="Source Title"><%= quote.source %></cite></small>
	  </blockquote>	  
  </div>
  <span class="comment"><%= quote.comment %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(quote.created_at) %> ago.
    <% if current_user?(quote.user) %>
      <%= link_to "Delete", quote, method: :delete,
                                       data: { confirm: "You sure?" } %>
       · 
      <%= link_to "Edit", edit_quote_path(quote) %>
    <% end %>
  </span>
</li>