<% provide(:title, 'Users') %>

<% if current_user.admin? %>
<h1>Dashboard</h1>

<%= link_to 'Download CSV list', users_path(format: :csv), class: "btn btn-default" %>

<br />
<br />

<% end %>

<div class="row">
	<div class="col-lg-6">
        <div class="panel panel-success center">
            <div class="panel-heading">
                <h3 class="panel-title center">Number of registrated users per month</h3>
            </div>
            <div class="panel-body">
				<%= line_chart User.group_by_month(:activated_at).count, label: "Registrated", library: { colors: ['#18BC9C', '#95A5A6'], crosshair: { trigger: 'both', color: '#95A5A6' }} %>
			</div>
        </div>
    </div>
	
		
	<div class="col-lg-6">
        <div class="panel panel-success center">
            <div class="panel-heading">
                <h3 class="panel-title center">Top users by number of quotes</h3>
            </div>
            <div class="panel-body">
				<%= column_chart ({@userPrvoIme => @userPrviBroj, @userDrugoIme => @userDrugiBroj, @userTreceIme => @userTreciBroj}), label: "Quotes", library: { colors: ['#18BC9C', '#95A5A6'], opacity: '0.2'} %>
			</div>
        </div>
    </div>

</div>

<h1>Users</h1>

<div class="row">
	
	<%= form_tag(users_path, :method => "get", id: "search-form") do %>
	<div class="col-md-6 col-md-offset-3">
		<input type="search" name="search" id="search" value="" class="form-control search-query" placeholder="At least 2 letters to begin the autocomplete..." type="text" data-autocomplete="users/autocomplete_user_name">
	</div>
	<div>
		<%= submit_tag "Search", class: "btn btn-primary col-md-1", id: "search-submit" %>
	</div>	
	<br />
	<br />
	<br />
	
	<% end %>
	
	
	<div class="row">
		<% if @users3.present? %>
			<%= will_paginate %>	
			<ul class="users">
			  <%= render @users3 %>
			</ul>	
			<%= will_paginate %>
		<% else %>
			<div class="col-md-6 col-md-offset-3">
			  <p>There are no users containing the term(s) "<%= params[:search] %>".</p>
			</div>
		<% end %>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
  $('#search').bind('railsAutocomplete.select', function(event, data){
  $('#search-form').submit()
  });
</script>