<% provide(:title, 'Users') %>

<% if current_user.admin? %>
<h1>Dashboard</h1>

<%= link_to 'Download CSV list', users_path(format: :csv), class: "btn btn-success" %>

<br />
<br />

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary center">
            <div class="panel-heading">
                <h3 class="panel-title center">Top users by number of quotes</h3>
            </div>
            <div class="center">
            	<canvas id="myChart1" width="400" height="350"></canvas>
            </div>
            <script>
                var ctx = document.getElementById("myChart1").getContext("2d");
                var data = [
                    {
                        value: <%= @userPrviBroj %>,
                        color:"#F7464A",
                        highlight: "#FF5A5E",
                        label: "<%= @userPrvoIme %>"
                    },
                    {
                        value: <%= @userDrugiBroj %>,
                        color: "#46BFBD",
                        highlight: "#5AD3D1",
                        label: "<%= @userDrugoIme %>"
                    },
                    {
                        value: <%= @userTreciBroj %>,
                        color: "#FDB45C",
                        highlight: "#FFC870",
                        label: "<%= @userTreceIme %>"
                    }
                ];
                new Chart(ctx).Doughnut(data, {
                    animateScale: true                    
                });
            </script>
        </div>
    </div>
    
    <div class="col-lg-6">
        <div class="panel panel-primary center">
            <div class="panel-heading">
                <h3 class="panel-title center">Top authors by number of quotes</h3>
            </div>
            <div class="center">
            	<canvas id="myChart2" width="400" height="350"></canvas>
            </div>
            <script>
                var ctx = document.getElementById("myChart2").getContext("2d");
                var data = [
                    {
                        value: <%= @authorPrviBroj %>,
                        color:"#F7464A",
                        highlight: "#FF5A5E",
                        label: "<%= @authorPrvoIme %>"
                    },
                    {
                        value: <%= @authorDrugiBroj %>,
                        color: "#46BFBD",
                        highlight: "#5AD3D1",
                        label: "<%= @authorDrugoIme %>"
                    },
                    {
                        value: <%= @authorTreciBroj %>,
                        color: "#FDB45C",
                        highlight: "#FFC870",
                        label: "<%= @authorTreceIme %>"
                    }
                ];
                new Chart(ctx).Pie(data, {
                    animateScale: true                    
                });
            </script>
        </div>
    </div>
</div>

<% end %>

<h1>Users</h1>

<div class="row">
	
	<%= form_tag(users_path, :method => "get", id: "search-form") do %>
	<div class="col-md-6 col-md-offset-3">
		<input type="search" name="search" id="search" value="" class="form-control search-query" placeholder="At least 2 letters to begin the autocomplete..." type="text" data-autocomplete="users/autocomplete_user_name">
	</div>
	<div>
		<%= submit_tag "Search", class: "btn btn-primary col-md-1", id: "search-submit" %>
	</div>	
	<br />
	<br />
	<br />
	
	<% end %>
	
	
	<div class="row">
		<% if @users3.present? %>
			<%= will_paginate %>	
			<ul class="users">
			  <%= render @users3 %>
			</ul>	
			<%= will_paginate %>
		<% else %>
			<div class="col-md-6 col-md-offset-3">
			  <p>There are no users containing the term(s) "<%= params[:search] %>".</p>
			</div>
		<% end %>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
  $('#search').bind('railsAutocomplete.select', function(event, data){
  $('#search-form').submit()
  });
</script>